# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

*.gem
*.rbc
.config
.ruby-version
Gemfile.lock
tmp
vendor
.DS_Store
