---
http_interactions:
- request:
    method: get
    uri: http://www.spyfu.com/apis/url_api/organic_kws?bldsv=888&q=spyfu.com/blog&r=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timestamp:
      - Sunday, June 22, 2014 06:32:51 PM
      Authentication:
      - 0462153A-9C82-4C35-8349-AE3AA0F5913B:CHr5aE9lS+Fr8TN+S7FKNNF8gl3pKn/6JTChB7GBeE8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"term":"keyword tracking","position":"9.00","exact_local_monthly_search_volume":"150.00","exact_global_monthly_search_volume":"240.00","max_organic_clicks_per_day":"0.82","full_url":"www.spyfu.com/blog/weekly-rank-tracking","broad_cost_per_click":"6.39","phrase_cost_per_click":"4.01","exact_cost_per_click":"5.36","monthly_clicks":"2.92","seo_difficulty":"48.06","url_position_change":"0","previous_position":"0","value_per_month":"15.6489305314868"},{"term":"seo
        sales","position":"22.00","exact_local_monthly_search_volume":"120.00","exact_global_monthly_search_volume":"210.00","max_organic_clicks_per_day":"0.656","full_url":"www.spyfu.com/blog/selling-seo-consulting-sales-what-makes-seo-sales-leads-convert","broad_cost_per_click":"7.86","phrase_cost_per_click":"6.81","exact_cost_per_click":"10.14","monthly_clicks":"0.98","seo_difficulty":"50.53","url_position_change":"0","previous_position":"0","value_per_month":[...]
